.artistFeedContainer {
  flex: 6;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 12pt;
  letter-spacing: 0.5px;
  margin-right: 1rem;
  line-height: 1.3;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  flex-direction: column;
  align-items: center;
}
