.shopContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 4em;
}

@media screen and (max-width: 480px) {
  .shopContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0;
  }
}
