.rightcontainer {
  flex: 1;
  height: max-content;
  display: flex;
  position: sticky;
  margin-left: 1rem;
  top: 4rem;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}

.cartContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 5px 2px 5px;

  border-radius: 4px;
}

.cartTotal {
  margin-right: 3pt;
  font-size: 10pt;
}
