.rightcontainer {
  flex: 0.8;
  height: 100%;
  display: flex;
  position: sticky;
  top: 4rem;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}

.cartContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0 0 5px;
}

.cartTotal {
  margin-right: 3pt;
  font-size: 10pt;
  min-width: 1.6rem;
  display: flex;
}

@media screen and (max-width: 480px) {
  .rightcontainer {
    display: none;
  }
}
